@import './Utils/Variables';

//-Couleur-//
$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-degrade:linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
$colour-opacity: #9356dc4d;

//-Police-//
$font-title: 'Shrikhand', cursive;
$font-texte: 'Roboto' , sans-serif; 

//-Shadow-//
$Box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;

@mixin flexbox-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    margin: 0;
}

h2 {
    font-size: large;
}

h3 {
    font-size: xx-large;
}

header {
    font-family: $font-texte;
}

main {
    font-family: $font-texte;

}

footer {
    font-family: $font-texte;
}

body {
    margin: 0;
}

.logo-head {
    align-items: center;
    height: 70px;
    display: flex;
    justify-content: center;
}

.logo {
    width: 250px;
}

.location {
    height: 40px;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    box-shadow: 0px 6px 16px 0px;
}

.icon-location {
    padding: 10px 3px 10px 10px;
}

.text-location {
    padding: 10px;
    font-size:large;
}

.booking {
    background-color: #F2F2F2;
    height: auto;
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 24px;
    text-align: center;
}

.subtitle {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0px 20px 20px 20px;
}

.button-explore {
    margin: 0% 22% 5% 22%;
    border-radius: 22px;
    background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
    border: none;
    box-shadow: rgb(99 99 99 / 20%) 3px 5px 3px 0px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    width: auto;
    padding: 13px;
}

.button-explore:hover {
    -webkit-animation: jello-horizontal 0.9s both;
	        animation: jello-horizontal 0.9s both;
}

@-webkit-keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  @keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  

.title-nav {
    margin-left: 10px;
    margin-top: 20px;
}

.menu {
    list-style: none;
    padding: 0px;
}

.menu-button {
    display: flex;
    align-items: center;
    background: #f6f6f6;
    height: 30px;
    width: auto;
    margin: 10px 20px;
    border-radius: 20px;
    position: relative;
    box-shadow: $Box-shadow;
    padding: 10px;
    cursor: pointer;
}

.menu-button:hover {
    background-color: $colour-opacity;
    box-shadow: 0 8px 16px 0 #9356dc;
}

.text-button {
    margin: 20px;
    color: black;
    font-size: larger;
    cursor: pointer;
}

.text-notification {
    display: flex;
    align-content: center;
}

.notification {
    background-color: #9356DC;
    color: white;
    position: absolute;
    border-radius: 14px 14px 14px 14px;
    transform: translateX(-50%);
}

.icon-badge {
    margin-left: 50px;
}

.badge {
    color: white;
    margin:  10px;
} 

//Restaurant + card + position//

.restaurants {
    background-color: #F2F2F2;
}

.h1-restaurant {
    padding: 20px 10px 10px 10px;
}

.card-restaurants {
    padding-bottom: 20px;
}

.card {
    background-color: white;
    margin: 5%;
    width: 90%;
    height: 240px;
    border-radius: 12px 12px 12px 12px;
    box-shadow: $Box-shadow;
}

.card:hover {
    box-shadow: 0 8px 16px 0 $colour-primary;
}
  
.container {
    padding: 2px 16px;
}

.image-restaurants {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px
}

.container-card {
    margin: 8px;
}

.restaurant-name {
    margin: 0;
    color: black;
    font-size: medium;
}

.restaurant-location {
    margin: 0;
    color: black;
    font-size: 15px;
    margin-top: 5px;
}

.new {
    position: absolute;
    right: 10%;
    border: transparent solid 1px;
    background-color: #8bcda3;
    margin-top: -147px;
    font-size: larger;
    color: #00802b;
}

.new1 {
    position: absolute;
    right: 10%;
    margin-top: -147px;
    border: transparent solid 1px;
    background-color: #8bcda3;
    font-size: larger;
    color: #00802b;
}

.white-logo {
    width: 40%;
    padding: 20px 20px 0px 40px;
    filter: brightness(50);
}

footer {
    background-color: #000000c7;
    height: 200px;
}

.text-padding {
    padding-left: 13px;
    margin: 0;
}

.ul-block {
    list-style-type: none;
    color: white;
    cursor: pointer;
}

.ul-block li {
    margin: 5px;
    display: flex;
    align-items: center;
}

.ul-block li a:link {
    color: white;
}

//-CSS POUR PAGE SECONDAIRE-//

.icon-back {
    position: absolute;
    left: 4%;
    color: black;
}

.logo-head2 {
    align-items: center;
    height: 70px;
    display: flex;
    justify-content: center;
}

.link-page2 {
    display: flex;
    justify-content: center;
}

.image-fond {
    width: 100%;
    background-image: url(/Maquettes-Ohmyfood/images/restaurants/pallette-du-gout.jpg);
}

.create-menu {
    background-color: #F2F2F2;
    border-bottom: #8bcda3;
    padding-bottom: 20px;
    border-radius: 30px 30px 0px 0px;
    z-index: 1;
    position: relative;
    margin-top: -77px;
}

.title-create-menu {
    font-family: $font-title;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-size: 180%;
    margin-bottom: 20px;
}

.title-creat {
    border-bottom: $colour-tertiary solid 3px;
    margin-left: 5%;
    width: 41px
}

.list-menu {
    list-style: none;
    padding: 0px;
}

.liste {
    margin: 3% 3% 0PX 5%;
    border: solid 1px white;
    width: 85%;
    padding: 1% 2% 1% 2%;
    border-radius: 14px;
    background-color: white;
    height: 10%;
    box-shadow: $Box-shadow;
    animation: opacity 1s both;
    cursor: pointer;
}

// Animation case//

@keyframes opacity {
    0% {
              opacity: 0;
    }
    100% {
              opacity: 1;
    }
}

#case-1 {
    animation-delay: 0.1s;
}

#case-2 {
    animation-delay: 0.2s;
}

#case-3 {
    animation-delay: 0.4s;
}

#case-4 {
    animation-delay: 0.6s;
}

#case-5 {
    animation-delay: 0.8s;
}

#case-6 {
    animation-delay: 1.0s;
}

#case-7 {
    animation-delay: 1.2s;
}

#case-8 {
    animation-delay: 1.4s;
}

#case-9 {
    animation-delay: 1.6s;
}

#case-10 {
    animation-delay: 1.8s;
}

.name {
    margin: 2% 2% 0% 2%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
}

.ingrédients {
    margin: 2%;
    font-size: 14px;
    justify-content: space-between;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.price {
    margin-top: 7px;
    font-size: 17px;
}

.liste-text {
    display: flex; 
    flex-direction: column;
}

.ingrédients-price {
    display: flex;
    justify-content: space-between;
}
 
.jauge {
    width: 5%;
    display: flex;
    background-color: $colour-tertiary;
}

.button-order {
    margin: 0% 22% 10% 22%;
    border-radius: 22px;
    background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
    border: none;
    box-shadow: rgb(99 99 99 / 20%) 3px 5px 3px 0px;
    width: 55%;
    padding: 3% 3% 3% 3%;
    margin-top: 5%;
    cursor: pointer;
    font-family: $font-texte;
    font-size: larger;
    padding: 8px;
    color: white;
}

// Animation heart//

.heart-container {
    position: relative ;
    width: 40px;
    height: 40px;
    left: 83%;
    margin-top: -54px;
}

.heart-container2 {
    position: relative ;
    width: 40px;
    height: 40px;
    left: 3%;
    margin-top: 37px;
}

.heart-clip {
   display: block;
   width: 100%;
   height: 100%;
   position: relative;
   overflow: hidden;
   clip-path: url(#svgPath);
   cursor: pointer;


   &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-image: $colour-degrade;
      opacity: 0;
      transform: scale(0);
      transition: transform 0.2s linear, opacity 0.2s linear;
      transform-origin: center 60%;
   }

.heart-stroke {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 2px;
    left: 2px;
    fill: black;
    
}


.title-heart {
    display: flex;
    justify-content: center;
}

.heart-stroke:hover {
    fill: transparent;
}

// Loader//

.loader-container {
    animation: fadeOut 1s forwards 3s;
    position: fixed;
    top: 40%;
    left: 32%;
}

.loader {
    border: 20px solid #EAF0F6;
    border-radius: 50%;
    border-top: 20px solid $colour-secondary;
    width: 100px;
    height: 100px;
    animation: spinner 2.5s linear infinite;
}
    
.page {
    opacity: 0;
    animation: fadeIn 1s forwards 3s;
    
}

@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        height: 0px;
        width: 0px;
        opacity: 0;
    }
}

// Animation checked//

.liste {
    position: relative;
    
}

.liste:hover .price {
    margin-left: 10px;
    padding-right: 18%;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}

.overlay {
position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #99E2D0;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.5s ease;
  border-radius: 0px 14px 14px 0px;
  align-items: center;
  display: flex;
  justify-content: center;
}
  
.liste:hover .overlay {
    width: 15%;
    left: 85%;
}

.icon-validation {
    display: flex;
    justify-content: center;
    margin-top: 39%;
    color: white;
    font-size: 26px;
}

.liste:hover .icon-validation {
    -webkit-animation: rotate-center 0.8s ease-in-out both;
    animation: rotate-center 0.8s ease-in-out both;
}

.fa-solid.fa-circle-check {
    font-size: 100%;
}

 @-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }

  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
}

//Media queries//


@media screen and (min-width: 992px) {
    .card {
      height: 270px;
      margin: 14px;
    }
    .restaurant-name {
      font-size: 114%;
    }
    .restaurant-location {
      font-size: 19px;
    }
    .heart-container {
      margin-top: -61px;
    }
    .container-card {
      margin: 8px 8px 8px 21px;
    }
    .liste {
      height: 80%;
    }
    .list-menu {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    .title-creat {
      margin-top: 56px;
    }
    .create-menu {
      margin: -77px 5% 0 5%;
      width: auto;
    }
    .image-fond {
      height: 400px;
      -o-object-fit: cover;
         object-fit: cover;
    }
    footer {
      height: auto;
    }
    .white-logo {
      width: 200px;
    }
    .footer-block {
      display: flex;
      justify-content: center;
    }
    .ul-block {
      display: inline-flex;
    }
    .ul-block li {
      margin: 5px 5px 5px 25px;
    }
    .menu {
      display: flex;
      margin-bottom: 70px;
      justify-content: center;
    }
    .card-restaurants {
      display: flex;
    }
    .loader-container {
      position: fixed;
      top: 40%;
      left: 45%;
    }
    .button-order {
      width: 30%;
      padding: 1% 3% 1% 3%;
      margin-left: 35%;
    }
    .text-button {
      font-size: 16px;
    }
    .menu-button {
      width: 20%;
    }
    .icon-validation {
      margin-top: 24px;
    }
    .new {
      margin-top: -143px;
      right: 53%;
    }
    .new1 {
      margin-top: -149PX;
      right: 78%;
    }
    .name {
      font-size: 20px;
    }
    .ingrédients {
      font-size: 16px;
    }
  }

  @media only screen and (min-width: 769px) and (max-width: 992px) {
  
    
    .card-restaurants {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .new1 {
      right: 6%;
    }
    .new {
      right: 56%;
    }
    .image-fond {
      width: 100%;
      HEIGHT: 450PX;
      OBJECT-FIT: COVER;
      background-image: url(/Maquettes-Ohmyfood/images/restaurants/pallette-du-gout.jpg);
    }
    .icon-validation {
      margin-top: 20px;
    }
    .liste {
      width:75%;
      height: 57px;
    }
  .list-menu {
    display: grid; 
    grid-template-columns: 2fr 2fr;
  }
  .loader-container {
    left:45% ;
  }
  }