@import './Utils/Variables';

//-Couleur-//
$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;

//-Police-//
$font-title: 'Shrikhand', cursive;
$font-texte: 'Roboto' , sans-serif; 

//-Shadow-//
$Box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;


a {
    text-decoration: none;
    color: black;
}

header {
    font-family: $font-texte;
}

main {
    font-family: $font-texte;
}

footer {
    font-family: $font-texte;
}

body {
    margin: 0;
}

.logo-head {
    align-items: center;
    height: 70px;
    display: flex;
    justify-content: center;
}

.logo {
    width: 40%;
}

.location {
    height: 40px;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    box-shadow: 0px 6px 16px 0px;
}

.icon-location {
    padding: 10px 3px 10px 10px;
}

.text-location {
    padding: 10px;
    font-size:large;
}

.booking {
    background-color: #F2F2F2;
    height: auto;
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: xx-large;
    text-align: center;
}

.subtitle {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0px 20px 20px 20px;
}

.button-explore {
    margin: 0% 22% 10% 22%;
    border-radius: 22px;
    background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
    border: none;
    box-shadow: rgb(99 99 99 / 20%) 3px 5px 3px 0px;
}

.button-text {
    font-family: $font-texte;
    font-size: larger;
    padding: 8px;
    color: white;
}

.title-nav {
    margin-left: 10px;
}

.menu {
    list-style: none;
    padding: 0px;
}

.menu-button {
    margin: 3% 3% 0PX 5%;
    border: solid 1px #F2F2F2;
    width: 85%;
    padding: 15px 7px 15px 7px;
    border-radius: 14px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    cursor: pointer;
    box-shadow: $Box-shadow;
}

.menu-button a:hover {
    
}


.text-button {
    margin: 20px;
    color: black;
    font-size: larger;
}

.text-notification {
    display: flex;
    align-content: center;
}

.notification {
    background-color: transparent;
    position: absolute;
    display: inline-block;
    left: 2%;
 
}
  
.badge {
    position: absolute;
    padding: 2px 7px;
    border-radius: 50%;
    background: $colour-primary;
    color: white;
} 

.restaurants {
    background-color: #F2F2F2;
}

.h1-restaurant {
    padding: 20px 10px 10px 10px;
}

.card-restaurants {
    padding-bottom: 20px;
}

.card {
    background-color: white;
    margin: 5%;
    width: 90%;
    height: 240px;
    border-radius: 12px 12px 12px 12px;
    box-shadow: $Box-shadow;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.container {
    padding: 2px 16px;
}

.image-restaurants {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px
}

.container-card {
    margin: 8px;
}

.restaurant-name {
    margin: 0;
    color: black;
    font-size: medium;
}

.restaurant-location {
    margin: 0;
    color: black;
    font-size: small;
    margin-top: 5px;
}

a.new {
    position: absolute;
    right: 8%;
    border: transparent solid 1px;
    background-color: #8bcda3;
    margin-top: 4%;
    font-size: larger;
    color: #00802b;
}

.white-logo {
    width: 40%;
    padding: 20px 20px 0px 40px;
    filter: brightness(50);
}

footer {
    background-color: #000000c7;
    height: 200px;
}

.ul-block {
    list-style-type: none;
    color: white;
}

.ul-block li {
    margin: 5px;
    
}

.ul-block li a:link {
    color: white;
    
}

//-CSS POUR PAGE SECONDAIRE-//

.icon-back {
    position: absolute;
    left: 4%;
    color: black;
}

.logo-head2 {
    align-items: center;
    height: 70px;
    display: flex;
    justify-content: center;
}

.link-page2 {
    display: flex;
    justify-content: center;
}

.image-fond {
    width: 100%;
    background-image: url(/Maquettes-Ohmyfood/images/restaurants/pallette-du-gout.jpg);
}

.create-menu {
    background-color: #F2F2F2;
    border-bottom: #8bcda3;
    padding-bottom: 20px;
    border-radius: 30px 30px 0px 0px;
    z-index: 1;
    position: relative;
    margin-top: -77px;
    
}
.title-create-menu {
    font-family: $font-title;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-size: xx-large;
}

.title-creat {
    border-bottom: $colour-tertiary solid 3px;
    margin-left: 5%;
    width: 41px;
}

.list-menu {
    list-style: none;
    padding: 0px;
}

.liste {
    margin: 3% 3% 0PX 5%;
    border: solid 1px white;
    width: 85%;
    padding: 1% 2% 1% 2%;
    border-radius: 14px;
    background-color: white;
    height: 10%;
    box-shadow: $Box-shadow;
}

.name {
    margin: 2%;
}

.ingrédients {
    margin: 2%;
    font-size: small;
    display: flex; 
    justify-content: space-between;
}

.price {
    margin: 0;
}

.button-order {
    margin: 0% 22% 10% 22%;
    border-radius: 22px;
    background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
    border: none;
    box-shadow: rgb(99 99 99 / 20%) 3px 5px 3px 0px;
    width: 55%;
    padding: 3% 3% 3% 3%;
    margin-top: 5%;
    cursor: pointer;
}